<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  
  <!--<system.serviceModel>
    <bindings>
      <netNamedPipeBinding>
        <binding name="CoreService">
          <security mode="None" />
        </binding>
        <binding name="AndroidMirrorAPIService">
          <security mode="None" />
        </binding>
        <binding name="VivoBackupAPIService">
          <security mode="None" />
        </binding>
      </netNamedPipeBinding>
    </bindings>
    <client>
      <endpoint address="net.pipe://localhost/CoreService" binding="netNamedPipeBinding"
        bindingConfiguration="CoreService" contract="ServiceReference1.ICoreService"
        name="CoreService" />
      <endpoint address="net.pipe://localhost/AndroidMirrorAPIService"
        binding="netNamedPipeBinding" bindingConfiguration="AndroidMirrorAPIService"
        contract="ServiceReference1.IAndroidMirrorAPIService" name="AndroidMirrorAPIService" />
      <endpoint address="net.pipe://localhost/VivoBackupAPIService"
        binding="netNamedPipeBinding" bindingConfiguration="VivoBackupAPIService"
        contract="ServiceReference1.IVivoBackupAPIService" name="VivoBackupAPIService" />
    </client>
  </system.serviceModel>-->
  <system.serviceModel>
    <bindings>
      <netNamedPipeBinding>
        <binding name="CoreService">
          <security mode="None" />
        </binding>
        <binding name="AndroidMirrorAPIService">
          <security mode="None" />
        </binding>
        <binding name="VivoBackupAPIService">
          <security mode="None" />
        </binding>
        <binding name="BlackBerryService">
          <security mode="None" />
        </binding>
        <binding name="SIMcoreAPIService">
          <security mode="None" />
        </binding>
      </netNamedPipeBinding>
    </bindings>
    <client>
      <endpoint address="net.pipe://localhost/CoreService" binding="netNamedPipeBinding"
        bindingConfiguration="CoreService" contract="ServiceReference1.ICoreService"
        name="CoreService" />
      <endpoint address="net.pipe://localhost/AndroidMirrorAPIService"
        binding="netNamedPipeBinding" bindingConfiguration="AndroidMirrorAPIService"
        contract="ServiceReference1.IAndroidMirrorAPIService" name="AndroidMirrorAPIService" />
      <endpoint address="net.pipe://localhost/VivoBackupAPIService"
        binding="netNamedPipeBinding" bindingConfiguration="VivoBackupAPIService"
        contract="ServiceReference1.IVivoBackupAPIService" name="VivoBackupAPIService" />
      <endpoint address="net.pipe://localhost/BlackBerryService" binding="netNamedPipeBinding"
        bindingConfiguration="BlackBerryService" contract="ServiceReference1.IBlackBerryDeviceAPIService"
        name="BlackBerryService" />
      <endpoint address="net.pipe://localhost/SIMcoreAPIService" binding="netNamedPipeBinding"
        bindingConfiguration="SIMcoreAPIService" contract="ServiceReference1.ISIMcoreAPIService"
        name="SIMcoreAPIService" />
    </client>
  </system.serviceModel>
</configuration>
