<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <netNamedPipeBinding>
        <binding name="NewBinding0" closeTimeout="10:00:00" openTimeout="10:00:00"
          sendTimeout="10:00:00" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="64" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" />
          <security mode="None" />
        </binding>
      </netNamedPipeBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="ser" name="X86DllServer.Service.X86DLLService">
        <clear />
        <endpoint address="net.pipe://localhost/CoreService" behaviorConfiguration="NewBehavior0"
          binding="netNamedPipeBinding" bindingConfiguration="NewBinding0"
          name="CoreService" contract="X86DllServer.IService.ICoreService"
          listenUriMode="Explicit">
        </endpoint>
        <endpoint address="net.pipe://localhost/AndroidMirrorAPIService"
          behaviorConfiguration="NewBehavior0" binding="netNamedPipeBinding"
          bindingConfiguration="NewBinding0" name="AndroidMirrorAPIService"
          contract="X86DllServer.IService.IAndroidMirrorAPIService" listenUriMode="Explicit">
        </endpoint>
        <endpoint address="net.pipe://localhost/VivoBackupAPIService"
          behaviorConfiguration="NewBehavior0" binding="netNamedPipeBinding"
          bindingConfiguration="NewBinding0" name="VivoBackupAPIService"
          contract="X86DllServer.IService.IVivoBackupAPIService" listenUriMode="Explicit">
        </endpoint>
        <endpoint address="net.pipe://localhost/BlackBerryService" behaviorConfiguration="NewBehavior0"
          binding="netNamedPipeBinding" bindingConfiguration="NewBinding0"
          name="BlackBerryService" contract="X86DllServer.IService.IBlackBerryDeviceAPIService"
          listenUriMode="Explicit">
        </endpoint>
        <endpoint address="net.pipe://localhost/SIMcoreAPIService" behaviorConfiguration="NewBehavior0"
          binding="netNamedPipeBinding" bindingConfiguration="NewBinding0"
          name="SIMcoreAPIService" contract="X86DllServer.IService.ISIMcoreAPIService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://Localhost:9957/X86Service" />
          </baseAddresses>
          <timeouts openTimeout="10:00:00" />
        </host>
      </service>
    </services>

    <behaviors>
      <endpointBehaviors>
        <behavior name="NewBehavior0">
          <dataContractSerializer />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ser">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>